@font-face {
  font-family: 'Nekst';
  src: url('@/assets/fonts/Nekst-Bold-Desktop.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Styrene A';
  src: url('@/assets/fonts/Styrene A-Regular-Desktop.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Styrene A';
  src: url('@/assets/fonts/Styrene A-Black-Desktop.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

:root {
  --color-background: #16202F;
  --color-element-background: #2e3744;
  --color-element-background-2: #454d59;
  --color-element-background-rose: #E43659;
  --color-element-border: #555c67;
  --color-element-lemongreen: #AFFC41;
  --color-text: #ffffff;
  --color-main-blue: #0070F3;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {

  min-height: 100vh;
  font-family: 'Nekst', Arial, Helvetica, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-background);
  // background-image: url('/img/body-background.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  color: var(--color-text);
  line-height: normal;
}

a {
  text-decoration: none;
  color: var(--color-text);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  border: none;
  background-color: transparent;
}