@font-face {
  font-family: 'Nekst';
  src: url('@/assets/fonts/Nekst-Bold-Desktop.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Styrene A';
  src: url('@/assets/fonts/Styrene A-Regular-Desktop.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Styrene A';
  src: url('@/assets/fonts/Styrene A-Black-Desktop.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

:root {
  --color-background: #16202F;
  --color-element-background: #2e3744;
  --color-element-background-2: #454d59;
  --color-element-background-rose: #E43659;
  --color-element-border: #555c67;
  --color-element-lemongreen: #AFFC41;
  --color-text: #ffffff;
  --color-main-blue: #0070F3;


  // toast varibles
  --toastify-toast-width: 300px;
  --toastify-color-dark: #16202F;
  --toastify-toast-min-height: 32px;
  --toastify-toast-max-height: 64px;
  --toastify-font-family: "Styrene A", sans-serif;
}

.Toastify__toast {
  top: calc(var(--tg-content-safe-area-inset-top) + 23px);
  // width: 292px;
  padding: 4px;
  font-size: 12px;
  background: rgb(20, 54, 99);
  background: linear-gradient(270deg, rgba(20, 54, 99, 1) 0%, rgba(22, 32, 47, 1) 50%, rgba(27, 79, 94, 1) 100%);

  // @media only screen and (max-width: 480px) {
  //   border-radius: 4px;
  //   width: 292px;
  //   left: 50%;
  //   transform: translateX(-50%);
  //   top: var(--tg-content-safe-area-inset-top);
  // }
}

.Toastify__toast-icon {
  width: 15px;
}

.Toastify__close-button {
  align-self: center;

}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

html {
  overflow-y: scroll; // Нужно чтоб всегда была полоса прокрутки. Потомуц что если ее нет и открывается аккордеон, и прокрутка появляется, то контент сдвигается влево
  overflow-x: hidden;
}

body {
  min-height: 100vh;
  font-family: 'Nekst', Arial, Helvetica, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-background);
  // background-image: url('/img/body-background.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  color: var(--color-text);
  line-height: normal;
}

a {
  text-decoration: none;
  color: var(--color-text);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  border: none;
  background-color: transparent;
}

label,
input {
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10+ и Edge */
  user-select: none;
  /* Стандартный синтаксис */
  -moz-user-select: none;
  /* Firefox */
}

button:focus,
a:focus,
input:focus {
  outline: none;
  /* Убирает контур */
  background-color: transparent;
  /* Убирает изменение фона */
}

/* Убираем выделение при фокусе на label */
label:focus {
  outline: none;
  /* Убирает стандартную рамку */
  background-color: transparent;
  /* Убирает изменение фона */
}

label {
  user-select: none;
}


/* Убирает подсветку элемента при тапе на него */
* {
  -webkit-tap-highlight-color: transparent;
}