@use "./base.scss";

.main-container {
   width: 100%;
   max-width: 450px;
   margin: 0 auto;
   padding: 0 24px;
}

.visually-hidden {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   border: 0;
   padding: 0;
   white-space: nowrap;
   clip-path: inset(100%);
   clip: rect(0 0 0 0);
   overflow: hidden;
}

.avatar {
   display: inline-block;
   width: 40px;
   height: 40px;
   border-radius: 50%;
   overflow: hidden;
   background-color: grey;
   object-fit: cover;
}

.main-btn {
   margin-bottom: 20px;

   font-size: 14px;
   font-weight: bold;
   line-height: auto;
   padding: 12.5px 59.5px;
   color: var(--color-text);
   background: linear-gradient(8deg, rgba(0, 7, 167, 1) 0%, rgba(0, 112, 243, 1) 100%);
   border-radius: 12px;
   text-decoration: none;
   cursor: pointer;
}

.score {
   display: flex;
   justify-content: flex-start;
   align-items: center;
   gap: 4px;
   padding: 3px 8px 3px 3px;
   border-radius: 12px;
   background-color: rgba(255, 255, 255, 0.2);
   flex-grow: 0;
   flex-shrink: 0;

   &.user-rating-score {
      margin-left: auto;
   }
}

.score-coin {
   width: 17px;
   height: 17px;
}

.score-text {
   font-size: 14px;
   font-weight: bold;
   line-height: auto;

   & .games-count {
      font-size: 12px;
   }
}

.user-rating-info-img {
   width: 30px;
   height: 30px;
   flex-shrink: 0;
   flex-grow: 0;
   margin-right: 8.7%;
   border-radius: 50%;
   overflow: hidden;
}

.rating-list-container {
   width: 100%;
   border-radius: 12px;
   border: 1px solid var(--color-element-border);
   padding: 16px;
}

.rating-list-header {
   margin-bottom: 10px;
   text-align: center;
   font-size: 18px;
   font-weight: bold;
   text-transform: uppercase;
}

.rating-list-item {
   display: flex;
   justify-content: flex-start;
   align-items: center;
   gap: 2.63%;
   padding: 10px 0;
   border-bottom: 1px solid var(--color-element-border);
}

.rating-list-number {
   width: 30px;
   height: 30px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 18px;
   font-weight: bold;
   border-radius: 50%;
   background-color: var(--color-element-background-2);

   &.rectangular {
      width: auto;
      padding: 0 8px;
      border-radius: 15px;

   }
}

.rating-list-img {
   margin-right: 0;
}