@use "./base.scss";

.main-container {
   width: 100%;
   max-width: 450px;
   margin: 0 auto;
   padding: 0 24px;
}

.visually-hidden {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   border: 0;
   padding: 0;
   white-space: nowrap;
   clip-path: inset(100%);
   clip: rect(0 0 0 0);
   overflow: hidden;
}

.main-btn {
   margin-bottom: 20px;

   font-size: 14px;
   font-weight: bold;
   line-height: auto;
   padding: 12.5px 59.5px;
   color: var(--color-text);
   background: linear-gradient(8deg, rgba(0, 7, 167, 1) 0%, rgba(0, 112, 243, 1) 100%);
   border-radius: 12px;
   text-decoration: none;
   cursor: pointer;
}